.table-wrapper {
    margin-bottom: 25px;
    border-radius: 6px;
    background: #fff;
    overflow: hidden; /* Clip any scrollbars that appear */
  }
  
  table {
    width: 100;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  }
  
  table thead,
  table tbody,
  table tr {
    display: contents;
  }
  
  table th {
    position: relative;
    font-size: 18px;
  }
  
  table th,
  table td {
    text-align: left;
    padding: 5px 10px;
    min-width: 100px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis
  }
  
  table th span,
  table td span {
    display: inline-block; /* Đảm bảo dấu ... hoạt động chính xác */
    max-width: 100%;
    display: block;
  }
  
  
  .resize-handle {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 7px;
    right: 0;
    top: 0;
    z-index: 1;
    border-right: 4px solid transparent;
  }
  
  .resize-handle:hover {
    border-color: #ccc;
  }
  
  .resize-handle.active {
    border-color: #517ea5;
  }